/*
 * HTML5 Boilerplte
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html, body {
    height: 100%;
}

section {
    min-height: 100%;
    position: relative;
    overflow:hidden;
    font-family: 'Merriweather Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

a.button {
    color: #fff;
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    border-radius: 4px;
    bottom: 2em;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    text-align: center;
    border: none;
    padding: 0.5em 1em;

    transition: 0.2s all ease-in-out;
    text-decoration: none;
}

a.button:hover {
    background-color: rgba(0,0,0,0.3);
}

#intro {
    background-color: rgb(75, 0, 0);
   color: #fff;
}

#intro .grid {
   padding-bottom: 6em;
}

#intro h1 {
    margin: 0;
    padding: 2em 0;
}

.overall {
    position: relative;
    height: 460px;
    text-align:right;
}

.overall .big {
    font-family: Arial, sans-serif;
    font-size: 140px;
    position: absolute;
    top: 22px;
    font-weight: bold;
    width: 100%;
}
.overall .small {
    font-size: 24px;
    position: absolute;
    top: 172px;
    width: 100%;
}


.overall .note {
    font-size: 60px;
    font-family: Arial, sans-serif;

    position: absolute;
    top: 290px;
    width: 100%;
}

.smallfont .big {
    font-size: 100px;
}

.smallfont .small {
    top: 132px;
}

.overall .foot {
    font-size: 24px;

    position: absolute;
    top: 358px;
    width: 100%;

}


#schedule {
    background-color: rgb(15, 70, 57);
    color: rgb(202, 177, 138);
    
}

#schedule .sorting {
   color: rgb(165, 137, 115);
   font-size: 0.9em;
   margin-bottom: 2em;
}

#schedule .sorting a {
    color: rgb(165, 137, 115);
    border-radius: 4px;
    display: inline-block;
    border: 1px solid rgba(255,255,255,0.1);
    padding: 2px 6px;
    text-decoration: none;
}

#schedule .sorting a:hover, #schedule .sorting a:active, #schedule .sorting .active {
    background-color: rgba(0,0,0,0.1);

}

#dontforget .row {
    font-size: 0.9em;
}

#dontforget .row h3 {
    margin-bottom: 0;
}

#dontforget .row h3 + p {
    margin-top: 0;
}

#dontforget h2 {
    margin-top: 0;
}

#dontforget .grid {
    padding-top: 4em;
    padding-bottom: 6em;
}

#schedule ul {
list-style-type: none;
margin: 0;
padding: 0;
}

#schedule .grid {
    margin-top: 4em;
    margin-bottom: 6em;
}

#schedule li p, #schedule .legend p {
    margin-top: 0;
    margin-bottom: 0;
}

#schedule li {
    padding: 0.5em 0;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}


.legend {
    font-weight: bold;
    padding: 0.5em 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

h2 {
    font-size: 3em;
    margin-bottom: 0;
}

header p {

    margin-top: 0;
}
header .date {
    text-align: right;
}

h3 {
    font-size: 1.8em;
}

.center {
    text-align: center;
}


#dontforget {
    background-color: rgb(15, 131, 185);
    color: rgb(167, 231, 252);

}

#dontforget a {
   color: rgb(167, 231, 252);
}

#dontforget a:hover, #dontforget a:active {
    color: rgb(224, 247, 255);
}

.ul {
    background-color: rgb(121, 117, 18);
}

.pl {
    background-color: rgb(18, 109, 117);
}


.um {
    background-color: rgb(75, 114, 38);
}


.wsinf {
    background-color: rgb(28, 107, 18);
}

.kol {
    background-color: rgb(28, 107, 18);
}


#schedule li p.date, #schedule .legend .date {
    width:80px;
    padding-left: 20px;
}

.lordis {
    padding: 30px 0;
}

#who {
    background-color: #ccc;

}

#who, #partners {
    text-align: center;
}

#who .row, #partners .row {
    position: absolute;
    top: 50%;
    margin-top: -80px;
}

#partners .row {
    margin-top: -200px;
}

#partners a.button {
    color: #222;
}

.like-h3 {
    margin-top: 1.8em;
}

.mobile {
    padding-bottom: 1.8em;
    margin: 2em 0;

    border-radius: 8px;

    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, 0.3), 0px 1px 0 0 rgba(0,0,0,0.3);
box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, 0.3), 0px 1px 0 0 rgba(0,0,0,0.3);

background-image: linear-gradient(bottom, rgb(102,16,16) 1%, rgb(143,19,19) 51%, rgb(143,7,7) 76%);
background-image: -o-linear-gradient(bottom, rgb(102,16,16) 1%, rgb(143,19,19) 51%, rgb(143,7,7) 76%);
background-image: -moz-linear-gradient(bottom, rgb(102,16,16) 1%, rgb(143,19,19) 51%, rgb(143,7,7) 76%);
background-image: -webkit-linear-gradient(bottom, rgb(102,16,16) 1%, rgb(143,19,19) 51%, rgb(143,7,7) 76%);
background-image: -ms-linear-gradient(bottom, rgb(102,16,16) 1%, rgb(143,19,19) 51%, rgb(143,7,7) 76%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.01, rgb(102,16,16)),
    color-stop(0.51, rgb(143,19,19)),
    color-stop(0.76, rgb(143,7,7))
);
}

.mobile .slot-0-1-2-3 {
    text-align: right;
}

.mobile h3 {
    margin-bottom: 0;
}

.mobile p {
    margin-bottom: 0.5em;
    padding-left: 0.5em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
